# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Logs
logs/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database
data/*.db
*.db